<div id="aboutus" class="aboutus">
    <h3>Little Corner Japan</h3>

    <h4>Mission</h4>
    <p>
    Với mục tiêu mang những sản phẩm chất lượng từ nhật bản đến với người dân Việt Nam  
    Chúng tôi cam kết sẽ cung cấp các sản phẩm chính hảng, chất lường được xách tay từ 
    Nhật Bản. Để cập nhật các sản phẩm mới nhât từ chúng tôi, các bạn có thể like hoặc 
    theo dõi trên facebook fanpage. 
    </p>
    <h4> <strong>Địa chỉ đại lý </strong></h4>
    <p>
   <strong> 1. Khu vực Miền Bắc  </strong>
   </p>
   <p>
    215 Tô Hiệu-Cầu Giấy - Hà Nội 

    điện thoại liên hệ: 0914369741 
    </p>
    <p>
    <strong>2. Khu vực Miền Trung </strong>
    </p>
    <p>
    Thị Xã Kỳ Anh - Hà Tĩnh (gần cầu trí)

    điện thoại liên hệ: 0981240939 
    </p>
    <p>
    Hoặc email cho chúng tôi: littlecornerjapan@gmail.com
    </p>
    <br>
    <h5> 
        Hãy like page của chúng tôi để cập nhật nhưng thông tin mới nhất: 
    </h5>
    <br>

    <div class="fb-page" 
        data-href="https://www.facebook.com/Littlecornerjapan-1257448997692969"
        data-width="380" 
        data-hide-cover="false"
        data-show-facepile="false">
    </div>
    <br>
</div>



<style>
.aboutus {
    margin: auto;
    width: 60%;
    border: 1px;
    padding: 10px;
}
h4{
    color: red;
    font-weight: bold;
}
</style>