<div id="aboutus" class="aboutus">
    <h3>Little Corner Japan</h3>

    <h4>Mission</h4>
    <p>
    Với mục tiêu mang những sản phẩm chất lượng từ nhật bản đến với người dân Việt Nam  
    Chúng tôi cam kết sẽ cung cấp các sản phẩm chính hảng, chất lường được xách tay từ 
    Nhật Bản. Để cập nhật các sản phẩm mới nhât từ chúng tôi, các bạn có thể like hoặc 
    theo dõi trên facebook fanpage. 
    </p>
    <h4>Cách mua hàng</h4>
    <h5>Gọi điện trực tiếp</h5>
    <p>
        <strong>Hotline</strong>
        0914369741
    </p>
    <h5>Nhắn tin qua message </h5>
    <h5>Mua từ website</h5>

    <strong>Chuyển khoản qua internet banking</strong>
    <p>số tài khoản: Ngân Hàng Vietcombank</p>
    <p>tên tk: Vo Thanh Tung</p>
    <p>địa chỉ: chi nhanh Yên Phong, Bắc Ninh</p>
    <p>
    Để được tư vấn các sản phẩm tốt, các bạn có thể gửi tin nhắn cho chúng tôi qua facebook 
    hoặc theo các số máy dưới đây: 
    </p>

    <p>
   <strong> 1. Khu vực Miền Bắc  </strong>
   </p>
   <p>
    215 Tô Hiệu-Cầu Giấy - Hà Nội 

    điện thoại liên hệ: 0914369741 
    </p>
    <p>
    <strong>2. Khu vực Miền Trung </strong>
    </p>
    <p>
    Thị Xã Kỳ Anh - Hà Tĩnh (gần cầu trí)

    điện thoại liên hệ: 0981240939 
    </p>
    <p>
    Hoặc email cho chúng tôi: littlecornerjapan@gmail.com
    </p>
</div>
<style>
.aboutus {
    margin: auto;
    width: 60%;
    border: 1px;
    padding: 10px;
}
h4{
    color: red;
    font-weight: bold;
}
</style>