<div id="aboutus" class="aboutus">
    <h3>Hướng Dẫn Mua Hàng</h3>

    <h4><strong>Call 0914 369 741</strong></h4>
    <p>
    Ngoài ra bạn có thể mua theo các cách sau:  
    </p>
    
    <h5>Nhắn tin qua message, zalo hoặc facebook </h5>
    <h5>Mua từ website</h5>
    <p> 
          Sau khi check out từ website, chúng tôi sẽ liên lạc lại với bạn sớm nhất có thể. 
        Để đảm bảo sảng phẩm sẽ được ship sớm nhất, các bạn có thể thanh toán cho chúng tôi bằng cách chuyển 
        khoản với tài khoản chúng tôi. 
    </p>
    <strong>Chuyển khoản qua internet banking</strong>
    <div style="color:red;">
        <p>số tài khoản: Ngân Hàng Vietcombank</p>
        <p>tên tk: Vo Thanh Tung</p>
        <p  >stk: 0351000778850</p>
        <p>địa chỉ: chi nhanh Yên Phong, Bắc Ninh</p>
        <p>
    </div>
    Để được tư vấn các sản phẩm tốt, các bạn có thể gửi tin nhắn cho chúng tôi qua facebook 
    hoặc theo các số máy dưới đây: 
    </p>

    <p>
   <strong> 1. Khu vực Miền Bắc  </strong>
   </p>
   <p>
    215 Tô Hiệu-Cầu Giấy - Hà Nội 

    điện thoại liên hệ: 0914369741 
    </p>
    <p>
    <strong>2. Khu vực Miền Trung </strong>
    </p>
    <p>
    Thị Xã Kỳ Anh - Hà Tĩnh (gần cầu trí)

    Điện thoại liên hệ: 0981240939 
    </p>
    <p>
    Hoặc email cho chúng tôi: littlecornerjapan@gmail.com
    </p>
</div>
<style>
.aboutus {
    margin: auto;
    width: 60%;
    border: 1px;
    padding: 10px;
}
h4{
    color: red;
    font-weight: bold;
}
</style>