<div id="aboutus" class="aboutus">
    <h3>Hướng Dẫn Mua Hàng</h3>

    <h4><strong>Call 0914 369 741</strong></h4>
    <p>
    Ngoài ra bạn có thể mua theo các cách sau:  
    </p>
    
    <h5>Nhắn tin qua message, zalo hoặc facebook </h5>
    <p> Chúng tôi sẽ trả lời trong thời gian sớm nhất và hướng dẫn các bạn các bước mua hàng cũng như thanh toán</p>
    <h4> <strong>  <a href="https://littlecornerjapan.com/">Mua từ website </a></h4>
    <p> Bước 1: Mua hàng qua website  </strong></p>
    <p> 
        Truy cập website littlecornerjapan.com để chọn mẫu, click vào mẫu muốn chọn hoặc click vào chi tiết sau đó chọn màu sắc sản phẩm và nhấn vào "thêm vào giỏ hàng", 
        điền thông tin form bên dưới để đặt hàng. 
    </p>
    <br>
    <p><strong>Bước 2: Hệ thống chúng tôi sẽ gởi xác nhận đơn hàng qua email </strong></p>
    <p>
    Sau khi đặt mua đơn hàng thành công, Khách hàng sẽ nhận được thông tin xác nhận đơn hàng của 
 thông qua email.
    </p>
    <br>
    <p> <strong>Bước 3: Xác nhận đơn hàng qua điện thoại </strong></p>

    <p>
      Chúng tôi sẽ liên hệ với Khách hàng qua điện thoại để xác nhận thông tin đơn hàng, địa chỉ và thời gian giao nhận hàng.
      Xin quý khách vui lòng cung cấp số điện thoại và email chính xác để chúng tôi liên lạc được. 
      Trong th quý khách muốn nhận hàng sớm có thể liên lạc với chúng tôi qua facebook.
    </p>
    <br>
    <p> <strong>Bước 4: Liên hệ thời gian giao hàng </strong></p>

    <p>
      Chúng tôi sẽ liên hệ với Khách hàng qua điện thoại để xác nhận thông tin đơn hàng, địa chỉ và thời gian giao nhận hàng.
    </p>
    <br>
    <p> <strong> Bước 5: Nhận hàng và thanh toán </strong>
    <br> 
    Tại địa điểm nhận hàng, Khách hàng kiểm tra lại sản phẩm khi nhận hàng. 
    Nếu Khách hàng chọn hình thức "Thanh toán trực tiếp khi nhận hàng" thì tiến hành thanh toán trực tiếp cho người giao hàng. 
    Còn Khách hàng chọn hình thức "Thanh toán chuyển khoản" thì khi chúng tôi nhận được tiền sẽ tiến hành giao hàng cho Khách hàng.
    </br>
    </p>
    <br>
    <h5> <strong> Có 2 hình thức thanh toán  </strong></h5>
    <strong>1. Chuyển khoản qua internet banking</strong>
    <div style="color:red;">
        <p> Số tài khoản: Ngân Hàng Vietcombank</p>
        <p> Tên tk: Vo Thanh Tung</p>
        <p> Stk: 0351000778850</p>
        <p> Địa chỉ: chi nhánh Yên Phong, Bắc Ninh</p>
        <p>
    </div>
    <strong>2. Thanh toán trực tiếp khi giao hàng</strong> <br>
    <p>  Khi Khách hàng nhận hàng, kiểm tra và thanh toán cho người giao hàng.</p>
    <br>
    Để được tư vấn các sản phẩm tốt, các bạn có thể gửi tin nhắn cho chúng tôi qua facebook 
    hoặc theo các số máy dưới đây: 
    </p>

    <p>
   <strong> 1. Khu vực Miền Bắc  </strong>
   </p>
   <p>
    215 Tô Hiệu-Cầu Giấy - Hà Nội 

    điện thoại liên hệ: 0914369741 
    </p>
    <p>
    <strong>2. Khu vực Miền Trung </strong>
    </p>
    <p>
    Thị Xã Kỳ Anh - Hà Tĩnh (gần cầu trí)

    Điện thoại liên hệ: 0981240939 
    </p>
    <p> Email cho chúng tôi: 
    <a href="mailto:littlecornerjapan@gmail.com">littlecornerjapan@gmail.com</a>
    </p>

    

</div>
<style>
.aboutus {
    margin: auto;
    width: 60%;
    border: 1px;
    padding: 10px;
}
h4{
    color: red;
    font-weight: bold;
}
</style>